doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.0.min.js')
  body
    img.left(src='/images/Moon.png')
    img.right(src='/images/Earth.png')
    div.header
      ul.nav
        li.nav-item: a(href='#one') Earth
        li.nav-item: a(href='#two') Mars
        li.nav-item: a(href='#three') Jupiter
    div#one(class=['background-1', 'container'])
      div.block
        h2 EARTH: The Blue Marble!
        p Earth is the third planet from the Sun. It is the densest and fifth-largest of the eight planets in the Solar System. It is also the largest of the Solar System's four terrestrial planets. It is sometimes referred to as the world or the Blue Planet. Earth formed approximately 4.54 billion years ago, and life appeared on its surface within its first billion years. Earth's biosphere then significantly altered the atmospheric and other basic physical conditions, which enabled the proliferation of organisms as well as the formation of the ozone layer, which together with Earth's magnetic field blocked harmful solar radiation, and permitted formerly ocean-confined life to move safely to land. The physical properties of the Earth, as well as its geological history and orbit, have allowed life to persist. Earth's lithosphere is divided into several rigid segments, or tectonic plates, that migrate across the surface over periods of many millions of years. Over 70% percent of Earth's surface is covered with water, with the remainder consisting of continents and islands which together have many lakes and other sources of water that contribute to the hydrosphere. Earth's poles are mostly covered with ice that is the solid ice of the Antarctic ice sheet and the sea ice that is the polar ice packs. The planet's interior remains active, with a solid iron inner core, a liquid outer core that generates the magnetic field, and a thick layer of relatively solid mantle.
    div#two(class=['background-mars', 'container'])
      div.block
        h2 MARS: The red planet!
        p Mars is the fourth planet from the Sun and the second smallest planet in the Solar System, after Mercury. Named after the Roman god of war, it is often described as the "Red Planet" because the iron oxide prevalent on its surface gives it a reddish appearance. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the volcanoes, valleys, deserts, and polar ice caps of Earth. The rotational period and seasonal cycles of Mars are likewise similar to those of Earth, as is the tilt that produces the seasons. Mars is the site of Olympus Mons, the second highest known mountain within the Solar System (the tallest on a planet), and of Valles Marineris, one of the largest canyons. The smooth Borealis basin in the northern hemisphere covers 40% of the planet and may be a giant impact feature. Mars has two known moons, Phobos and Deimos, which are small and irregularly shaped. These may be captured asteroids, similar to 5261 Eureka, a Martian trojan asteroid.
    div#three(class=['background-jupiter', 'container'])
      div.block
        h2 JUPITER: The giant planet!
        p Jupiter is the fifth planet from the Sun and the largest planet in the Solar System. It is a gas giant with mass one-thousandth of that of the Sun but is two and a half times the mass of all the other planets in the Solar System combined. Jupiter is classified as a gas giant along with Saturn, Uranus and Neptune. Together, these four planets are sometimes referred to as the Jovian or outer planets. The planet was known by astronomers of ancient times, and was associated with the mythology and religious beliefs of many cultures. The Romans named the planet after the Roman god Jupiter. When viewed from Earth, Jupiter can reach an apparent magnitude of −2.94, bright enough to cast shadows, and making it on average the third-brightest object in the night sky after the Moon and Venus. (Mars can briefly match Jupiter's brightness at certain points in its orbit.)
      p.footer &copy; Jason Dryhurst-Smith 
    script(type='text/javascript', src='/javascripts/jds-express.0.1.js')