html
  padding: 0
  margin 0

body
  padding: 0
  margin: 0 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: transparent url('/images/background3.jpg') center 0 repeat
  transition: all 1s ease 0

a
  color: #00B7FF

h1
  color: orange

.left
  float: left

.right
  float: right

.header
  float: left
  width: 100%
  position: absolute
  top: 160px
  background: purple
  border-top: solid 1px whitesmoke
  border-bottom: solid 1px whitesmoke
  box-shadow: 0 1px 15px cyan

.nav
  list-style: none
  text-align: center

.nav-item
  display: inline-block
  padding: 10px
  margin: 5px;
  border: solid 1px whitesmoke
  box-shadow: -1px 1px 3px cyan

.nav-item a
  color: white
  font-weight: bold

.nav-active
  box-shadow: -2px 2px 15px white
  border: solid 2px whitesmoke

.container
  padding: 20% 0

.block
  padding: 1%;
  background: white !important

.background-mars
  background: transparent url('/images/backgroundmars.png') center 0 no-repeat

.background-jupiter
  background: transparent url('/images/backgroundjupiter.png') center 0 repeat

.background-saturn
  background: transparent url('/images/backgroundsaturn.png') center 0 repeat



.background-1
  background: transparent url('/images/background1.png') center 0 repeat

.background-2
  background: transparent url('/images/background2.png') center 0 repeat


.footer
  text-align: center
  color: white